body{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    height: 100vh;
}
@media (max-width: 900px) {
    body{
        font-family: 'Roboto', sans-serif;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: white;
    }
}
h2{
    text-align: center;
    color: white;
    font-size: 30px;
    border-top: solid 1px white;
    text-transform: uppercase;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
@media (max-width: 900px) {
    .container{
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
}
.element{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}
@media (max-width: 900px) {
    .element{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
    }
}
.menu{
    background-color:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px) contrast(90%) saturate(90%);
    height: 80vh;
    width: 50vh;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 6px;
    align-items:stretch;
}
@media (max-width: 900px) {
    .menu{
        background-color:rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px) contrast(90%) saturate(90%);
        height: 80vh;
        width: 30vh;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 3px;
        align-items:stretch;
        margin-top: 20px;
    }
}
.dimensions{
    display: flex;
    flex-direction: column;
    height: 40vh;
    font-size: large;
}
@media (max-width: 900px) {
    .dimensions{
        display: flex;
        flex-direction: column;
        height: 50vh;
        font-size:medium;
    }
}
.color{
    margin: auto;
}
.properties{
    display: flex;
    flex-direction: column;
    font-size: large;
}
.text{
    color: greenyellow;
    background-color: rgba(255, 255, 255, 0.1);
    width: 700px;
    height: 50px;
    backdrop-filter: blur(10px) contrast(90%) saturate(90%);
}
@media (max-width: 900px) {
    .text{
        color: greenyellow;
        background-color: rgba(255, 255, 255, 0.5);
        width: 400px;
        height: 100px;
        backdrop-filter: blur(10px) contrast(90%) saturate(90%);
    }
}
.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




